
 .my-orders {
  margin: 50px 0;
}

.my-orders .container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
}

.my-orders-order {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 20px;
  font-size: 14px;
  color: #454545;
  border: 1px solid tomato;
  border-radius: 6px;
}

.order-col {
  flex: 1;
}

.order-col.img {
  flex: 0.3;
}

.order-col.items {
  flex: 2;
}

.order-col.price,
.order-col.count,
.order-col.status,
.order-col.action {
  flex: 1;
  display: flex;
  align-items: center;
}

.my-orders-order img {
  width: 50px;
}

.my-orders-order .order-col span {
  color: tomato;
  margin-right: 5px;
}

.my-orders-order button {
  border: none;
  padding: 10px 16px;
  border-radius: 4px;
  background-color: #ffe1e1;
  cursor: pointer;
  color: #454545;
  font-weight: 500;
}

@media (max-width:900) { 
    .my-orders-order{
        grid-template-columns: 1fr 2fr 1fr;
        row-gap:5px;
        font-size:12px
        }
        .my-orders-order button{
            font-size: 10px;
        }
    
}